.age-group-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.age-group-card:hover {
    transform: scale(1.05);
}

.activity-card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 100%;
}